<diV>
  <div style="width: 50%; height: 30px; border: 1px solid rgb(40, 56, 62); text-align: center;" draggable="true">Drag
  </div>
</diV>

<div style="margin-top: 150px;">
  <div *ngFor="let section of sections; let i = index;">
    <div draggable="true" class="row-outer" *ngFor="let row of rows; let j = index;" (dragover)="dragOver($event, i, j)"
      (drop)="onDrop()" (dragleave)="resetMarkedRows($event)"
      style="width: 100%; height: 30px; border: 1px solid rgb(40, 56, 62); display: flex;">
      <div *ngFor="let cell of row | keyvalue" style="width: 100%; height: 30px; border: 1px solid rgb(40, 56, 62);">
        <!-- <div>Cell</div> -->
        <div>
          <div>
            <div>
              <div>
                <div>
                  <div>
                    <div>
                      <div>
                        <div>
                          <div>Cell</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>